@import './custom_colors';

.is-custom-purple {
  background-color: $custom-purple;
  color: #fff;
}
.logo {
  height: 40px;
  margin-top: 8px;
}
.navbar-burger span {
  color: #fff !important;
}
nav.navbar {
  height: 70px;
  border-bottom: 1px solid black;
  background-color: #694ed8 !important;

  .navbar-brand {
    img {
      height: 40px;
      margin-top: 15px;
    }
  }

  .navbar-logged {
    .navbar-menu {
      background-color: $custom-purple;
    }
  }
}
@import '~bulma'; // Garante que Bulma está importado corretamente

.navbar-logged {
  background-color: #694ed8;

  .navbar-menu {
    background-color: #694ed8;
  }
}
.has-text-custom-purple {
  color: #694ed8; // Substitua pelo código da sua cor
}

.button.is-outlined.has-text-custom-purple {
  border-color: #694ed8;
  color: #694ed8;

  &:hover {
    background-color: #694ed8;
    color: #fff;
  }
}
